body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Space Grotesk', 'sans-serif';
  background-color: rgb(0, 22, 29);
}

.logo {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}

canvas {
  display: block;
}

#currentValueDisplay {
  position: absolute;
  bottom: 40px;
  right: 10px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-family: 'Space Grotesk', 'sans-serif';
}

#currentTickDisplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  font-family: 'Space Grotesk', 'sans-serif';
}

#footer {
  position: absolute;
  bottom: 5px;
  height: 60px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 8px 8px 8px;
  font-family: 'Space Grotesk', 'sans-serif';
  line-height: 1.9;
}

.white-text {
  color: white;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.blinking {
  animation: blink 0.5s step-start 0s 10;
}

.moving-text {
  position: absolute;
  color: rgba(176, 250, 255, 0.8);
  font-family: 'Space Grotesk', 'sans-serif';
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.title {
  font-family: 'Space Grotesk', 'sans-serif';
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0px 0px 40px rgba(239, 239, 239, 1);
}

.value {
  font-family: 'Space Grotesk', 'sans-serif';
  color: rgb(97 240 254);
  text-shadow: 0px 0px 40px rgba(239, 239, 239, 1);
}

.info {
  font-family: 'Space Grotesk', 'sans-serif';
  font-size: 20px;
  color: gray;
}

.moving-text {
  position: absolute;
  transition: opacity 1s ease-out;
}

.fade-out {
  opacity: 0;
}

/* Terminal */
#terminal {
  position: fixed;
  top: 65px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  color: white;
  font-family: 'Space Mono';
  padding: 18px;
}

.terminal-message {
  margin: 0px 0;
  color: rgba(176, 250, 255, .3);
  font-family: 'Space Mono';
  font-size: 0.8em;
}

.terminal-headline {
  padding: 0px 0px 0px 8px;
  color: rgba(176, 250, 255, .3);
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 1000;
  font-family: 'Space Mono';
  font-size: 0.8em;
}

@media (max-width: 600px) {
  #terminal {
    font-size: 11px;
    padding: 10px;

    .terminal-message {
      font-size: 9px;
      padding-left: 5px;
      ;
    }

    .terminal-headline {
      font-size: 11px;
      padding-left: 5px;
    }
  }
}