body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Space Grotesk";
  background-color: rgb(0, 22, 29);
}

#main-nav {
  position: fixed;
  top: 70px;
  left: 10px;
  z-index: 1000;
}

#main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  display: inline-block;
  margin-right: 0px;
}

#main-nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: "Space Grotesk";
}

#main-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}




canvas {
  display: block;
}

#controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 110px;
  height: 20px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-family: "Space Grotesk";
}


#currentValueDisplay {
  position: absolute;
  bottom: 50px;
  right: 10px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-family: "Space Grotesk";
}

#currentTickDisplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  color: white;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  font-family: "Space Grotesk";
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.blinking {
  animation: blink 0.5s step-start 0s 10;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
}





.message-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180vh;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.live-moving-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 80px;
  color: yellow;
  font-family: 'Arial', sans-serif;
  transform: rotateX(25deg) translateZ(0);
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 100px;
}

.value {
  font-size: 90px;
}

@keyframes starWarsCrawl {
  0% {
      bottom: -100%; /* Beginnt unterhalb des Bildschirms */
      transform: rotateX(25deg) translateZ(0);
      opacity: 1; /* Voll sichtbar */
  }
  100% {
      bottom: 150%; /* Ende bei 80% Höhe des Bildschirms */
      transform: rotateX(25deg) translateZ(-3000px);
      opacity: 0; /* Ausblenden */
  }
}



.moving-text-live-1 {
  position: absolute;
  color: rgba(176, 250, 255, 0.8);
  font-family: "Space Grotesk";
  text-align: center;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  /* background-color: red; */
}
.moving-text-live-2 {
  position: absolute;
  color: rgba(176, 250, 255, 0.8);
  font-family: "Space Grotesk";
  text-align: center;
  transform: translate(-50%, 30%);
  white-space: nowrap;
  /* background-color: green; */
}

.title {
  font-family: "Space Grotesk";
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.value {
  font-family: "Space Grotesk";
  color: rgb(97 240 254);
}

.info {
  font-family: "Space Grotesk";
  font-size: 20px;
  color: gray;
}



.moving-text {
  position: absolute;
  transition: opacity 1s ease-out;
  /* Für das langsame Ausblenden */
}



.moving-text {
  position: absolute;
  color: rgba(176, 250, 255, 0.8);
  font-family: "Space Grotesk";
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


.fade-out {
  opacity: 0;
}



.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.dialog-content h2 {
  margin-top: 0;
}

.dialog-content button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dialog-content button:hover {
  background-color: #0056b3;
}
